LibreriaClimaEntitiesORM/WebClima/Connected Services/ServicioClima/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ClimaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IClimaService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/LibreriaClimaWCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClimaService_CrearClima_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearClima" />
  </wsdl:message>
  <wsdl:message name="IClimaService_CrearClima_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearClimaResponse" />
  </wsdl:message>
  <wsdl:message name="IClimaService_GetClimaPorDia_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClimaPorDia" />
  </wsdl:message>
  <wsdl:message name="IClimaService_GetClimaPorDia_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClimaPorDiaResponse" />
  </wsdl:message>
  <wsdl:message name="IClimaService_EditaClima_InputMessage">
    <wsdl:part name="parameters" element="tns:EditaClima" />
  </wsdl:message>
  <wsdl:message name="IClimaService_EditaClima_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditaClimaResponse" />
  </wsdl:message>
  <wsdl:message name="IClimaService_BorraClima_InputMessage">
    <wsdl:part name="parameters" element="tns:BorraClima" />
  </wsdl:message>
  <wsdl:message name="IClimaService_BorraClima_OutputMessage">
    <wsdl:part name="parameters" element="tns:BorraClimaResponse" />
  </wsdl:message>
  <wsdl:portType name="IClimaService">
    <wsdl:operation name="CrearClima">
      <wsdl:input wsaw:Action="http://tempuri.org/IClimaService/CrearClima" message="tns:IClimaService_CrearClima_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClimaService/CrearClimaResponse" message="tns:IClimaService_CrearClima_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClimaPorDia">
      <wsdl:input wsaw:Action="http://tempuri.org/IClimaService/GetClimaPorDia" message="tns:IClimaService_GetClimaPorDia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClimaService/GetClimaPorDiaResponse" message="tns:IClimaService_GetClimaPorDia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditaClima">
      <wsdl:input wsaw:Action="http://tempuri.org/IClimaService/EditaClima" message="tns:IClimaService_EditaClima_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClimaService/EditaClimaResponse" message="tns:IClimaService_EditaClima_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BorraClima">
      <wsdl:input wsaw:Action="http://tempuri.org/IClimaService/BorraClima" message="tns:IClimaService_BorraClima_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClimaService/BorraClimaResponse" message="tns:IClimaService_BorraClima_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IClimaService" type="tns:IClimaService">
    <wsp:PolicyReference URI="#NetTcpBinding_IClimaService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="CrearClima">
      <soap12:operation soapAction="http://tempuri.org/IClimaService/CrearClima" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClimaPorDia">
      <soap12:operation soapAction="http://tempuri.org/IClimaService/GetClimaPorDia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditaClima">
      <soap12:operation soapAction="http://tempuri.org/IClimaService/EditaClima" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BorraClima">
      <soap12:operation soapAction="http://tempuri.org/IClimaService/BorraClima" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClimaService">
    <wsdl:port name="NetTcpBinding_IClimaService" binding="tns:NetTcpBinding_IClimaService">
      <soap12:address location="net.tcp://localhost:8732/ServicioClima/Servicios/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8732/ServicioClima/Servicios/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>