LibreriaClimaEntitiesORM/WebClima/Connected Services/ServicioClima/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/LibreriaClimaWCF" />
  <xs:element name="CrearClima">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LibreriaClimaWCF" minOccurs="0" name="clima" nillable="true" type="q1:Clima" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearClimaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearClimaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClimaPorDia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClimaPorDiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LibreriaClimaWCF" minOccurs="0" name="GetClimaPorDiaResult" nillable="true" type="q2:ArrayOfClima" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditaClima">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LibreriaClimaWCF" minOccurs="0" name="clima" nillable="true" type="q3:Clima" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditaClimaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BorraClima">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorraClimaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BorraClimaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>